.all-articles {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.right-articles {
  display: flex;
  flex-direction: column;
  margin-top: 2.5%;
  width: 40%;
}

@media only screen and (max-width: 900px) {
  .all-articles {
    align-items: center;
    flex-direction: column;
  }
}
