.single-article {
  color: inherit;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  text-decoration: inherit;
}

.single-article:hover {
  cursor: pointer;
  background-color: rgb(242, 239, 239);
}

.single-article-title {
  font-size: 17px;
  margin-left: 2%;
  text-align: center;
  width: 900px;
}

.single-article-title:hover {
  color: rgb(96, 13, 96);
}

.single-article > img {
  border-radius: 5px;
  border: 1px solid black;
  width: 20%;
}

@media only screen and (max-width: 1400px) {
  .single-article {
    flex-direction: column;
    align-items: center;
  }

  .single-article > img {
    width: 200px;
  }

  .single-article-title {
    width: 100%;
  }
}
