.detailed-article-view {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 10% 5%;
}

.left-article-view {
  display: flex;
  flex-direction: column;
}

.right-article-view {
  display: flex;
  flex-direction: column;
}
