.detailed-article-view {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 10% 5%;
}

.left-article-view {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.left-article-view > img {
  width: 100%;
  min-width: 300px;
}

.full-article-view {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  min-width: 20%;
  padding: 5%;
  text-align: center;
}

.full-article-view > h3 {
  font-size: 30px;
  margin-bottom: 1%;
}

.small-details {
  font-size: 25px;
  margin: 0.5%;
}

a:hover {
  color: purple;
}

a:visited {
  color: purple;
}

@media only screen and (max-width: 850px) {
  .detailed-article-view {
    flex-direction: column;
  }

  .right-article-view {
    font-size: 30px;
  }

  .small-details {
    font-size: 20px;
  }
}
