main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 40px;
  margin-left: 2%;
}

.article-view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.return-home-link {
  margin-right: 2%;
  width: 190px;
}

.return-home-button {
  border-radius: 7px;
  font-size: 22px;
  padding: 7%;
}
