main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1%;
}

header {
  box-shadow: 0 12px 12px -7px gray;
  margin-bottom: 2%;
}

h1 {
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0.5% 0 2% 2.5%;
}

.main-article-section {
  display: flex;
}

.loading-message,
.search-message {
  color: rgb(159, 48, 159);
  font-size: 25px;
}

.article-view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.return-home-navlink {
  margin-right: 2%;
  width: 190px;
}

.return-home-button {
  border-radius: 7px;
  font-size: 22px;
  padding: 7%;
}

.details-header-link {
  color: inherit;
  margin-left: 2%;
  text-decoration: inherit;
  width: 400px;
}

.details-header-link:hover {
  color: rgb(106, 105, 108);
}

button:hover {
  color: white;
  cursor: pointer;
  background-color: rgb(106, 105, 108);
}
