.feature-article-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 5% 5%;
  width: 30%;
}

.feature-article-section > img {
  border: 1px solid black;
  border-radius: 5px;
  width: 150%;
}

.feature-article-section > h2 {
  font-size: 30px;
  padding: 4%;
  text-align: center;
  width: 700px;
}

.feature-abstract {
  font-size: 30px;
  font-weight: bold;
  margin: 10% 0;
  width: 700px;
}

@media only screen and (max-width: 1250px) {
  .feature-article-section > h2,
  .feature-abstract {
    width: 500px;
  }
}

@media only screen and (max-width: 500px) {
  .feature-article-section > h2,
  .feature-abstract {
    width: 400px;
  }
}
